vpn/workdir/
setup/ubuntu-base-server/
__pycache__
.idea
**/.env
backend/certificates
database/backups
**/*.phar
webserver/html/vendor
**/.phpunit.result.cache
automatic_challenge_import/ctf-config.yaml
automatic_challenge_import/ubuntu-cloudimg.yaml
automatic_challenge_import/dc1.yaml
tests/performance/utils/**.pem
tests/security
database/migrate_functions.sql
setup/certs/
setup/suricata-8.0.0.tar.gz
setup/suricata-8.0.0/
setup/credentials.md